/* General styles and variables */

* {
    margin: 0;
    padding-inline-start: 0;
    font-size: 16px;
}

:root {
    --blue: rgb(53, 139, 255);
    --yellow: rgb(255, 244, 104);
    --black: rgb(0, 0, 0);
    --font-family: 'Roboto', Helvetica, Arial, sans-serif;
}


/* Header */
.desktop-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex {
    margin: 1rem;
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--black);
    font-weight: 600;
    box-sizing: content-box;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--black);
}

.active {
    border: 1px solid var(--black);
}

/* MAIN CONTENT OF PAGE */

.schedule-container {
    width: 85%;
    height: 72vh;
    margin: 5vh auto 0 auto;
}

.heading {
    font-family: var(--font-family);
    font-size: 3rem;
}

.subheading {
    font-family: var(--font-family);
    font-size: 2rem;
    color: rgb(153, 150, 150);
}

.table {
    border: 2px solid var(--black);
    margin-top: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
    font-weight: 700;
    margin: 1rem;
    justify-content: space-between; 
    align-content: space-between;
}

.row > p {
    font-size: 2rem;
}

.flex-logos {
    display: flex;
    align-content: space-around;
    justify-content: center;
    margin-top: 3rem;
}

.ic, .icplus {
    font-family: Bahnschrift, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    padding: 0.5rem 2rem;
    background-color: var(--yellow);
    border-radius: 10px;
    margin-left: 2rem;
}

.int {
    font-family: Bahnschrift, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--yellow);
    padding: 0.5rem 2rem;
    background-color: var(--blue);
    border-radius: 10px;
    margin-left: 2rem;
}

.words {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
}

.five {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 500;
}

/* FOOTER */
footer .foot {
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.foot-logo {
    display: flex;
    align-items: flex-start;
}

.ur  {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 7rem;
    line-height: 95%;
}

.word {
    font-family: var(--font-family);
    font-size: 3rem;
}

.ur, .word {
    color: rgb(255, 255, 255);
    padding-left: 2rem;
}

.ua {
    font-weight: 700;
}
.en {
    font-weight: 500;
}

.to-middle{
    padding-top: 3rem; 
}

div > .contacts {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2rem;
}
