/* General styles and variables */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --blue: rgb(53, 139, 255);
  --yellow: rgb(255, 244, 104);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --font-family: "Roboto", Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

.error {
  color: rgb(255, 0, 0);
}

/* Header */
.desktop-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  margin: 1rem;
  font-size: 2rem;
  color: var(--black);
  font-weight: 600;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--black);
}
.menu-btn,
.mobile-logo {
  font-family: var(--font-family);
  font-weight: 700;
  padding: 0.5rem;
  border: 1px solid var(--black);
  display: none;
}
.mobile-logo {
  border: none;
}
/* to Top button */
#toTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: rgb(255, 0, 0);
  background-color: var(--white);
  border: none;
  font-size: 1rem;
}
#toTopBtn:hover {
  background-color: rgb(255, 0, 0);
  color: var(--white);
}

/* first container */
.first-part {
  display: flex;
  justify-content: space-evenly;
}

/* left part */
.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brand-logotype {
  display: flex;
  align-items: center;
}
.lil {
  padding: 0.5rem;
}
.lil-bloo,
.lil-yella {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1px;
}

.lil-bloo {
  color: var(--blue);
  background-color: var(--blue);
}

.lil-yella {
  color: var(--yellow);
  background-color: var(--yellow);
}

.ur {
  font-weight: 700;
  font-size: 7rem;
  padding: 0.5rem;
}
.wordlogo {
  padding: 0.5rem;
}
.word {
  font-size: 3rem;
}

.ua {
  font-weight: 700;
}
.en {
  font-weight: 500;
}
/* aaand brand graphics */
.logo {
  display: flex;
  justify-content: flex-end;
}

.yellow,
.blue {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 20%;
}

.yellow {
  background-color: var(--yellow);
}

.blue {
  background-color: var(--blue);
}

/* Ticket booking form */

.ticket-form {
  max-width: 80%;
  margin: 1rem auto;
  border: 2px solid var(--black);
  border-radius: 15px;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  margin: 1rem;
}

button[type="button"] {
  font-family: var(--font-family);
  font-size: 1.75rem;
  font-weight: 600;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

/* SCHEDULE */
.second-part,
.schedule-container {
  max-width: 85%;
  height: 100vh;
  margin: 5vh auto 0 auto;
  padding-top: 5rem;
}

.heading {
  font-family: var(--font-family);
  font-size: 3rem;
}

.subheading {
  font-family: var(--font-family);
  font-size: 2rem;
  color: rgb(153, 150, 150);
}

.table {
  border: 2px solid var(--black);
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
  font-weight: 700;
  margin: 1rem;
  justify-content: space-between;
  align-content: space-between;
}

.row > p {
  font-size: 2rem;
}

.flex-logos {
  display: flex;
  align-content: space-around;
  justify-content: center;
  margin-top: 3rem;
}

.ict,
.icplus {
  font-family: Bahnschrift, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  padding: 0.5rem 2rem;
  background-color: var(--yellow);
  border-radius: 10px;
  margin-left: 2rem;
}

.int {
  font-family: Bahnschrift, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--yellow);
  padding: 0.5rem 2rem;
  background-color: var(--blue);
  border-radius: 10px;
  margin-left: 2rem;
}

.words {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
}

.five {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 500;
}

/* CABINET */
#cabinet {
  min-height: 100vh;
}
.form-container {
  max-width: 85%;
  margin: 5vh auto 0 auto;
}

.internal-form-container {
  max-width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.heading {
  font-family: var(--font-family);
  font-size: 3rem;
}

label,
.or {
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 600;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid var(--black);
  font-size: 2rem;
  margin: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.login-button,
.register-button {
  font-size: 1rem;
  padding: 0.75rem;
  font-family: var(--font-family);
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.login-button {
  color: var(--white);
  background-color: rgb(0, 180, 0);
}
.register-button {
  color: var(--white);
  background-color: rgb(0, 102, 255);
}

button {
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 600;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 10px;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}
#loginSummary {
  text-align: center;
}
/* INTERCITY, INTERCITY+ and International*/
.banner {
  display: flex;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.first {
  background-image: url(../media/1.jpg);
}
.second {
  background-image: url(../media/2.jpg);
}
.third {
  background-image: url(../media/3.jpeg);
}
.slogan-container {
  flex-direction: column;
  max-width: 45%;
  margin: auto;
  align-items: center;
}

.ic,
.slogan {
  font-family: var(--font-family);
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.slogan {
  color: rgb(97, 97, 97);
}

/* FOOTER */
footer .foot {
  background-color: var(--blue);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.foot-logo {
  display: flex;
  align-items: flex-start;
}

.ur-one {
  font-weight: 700;
  font-size: 7rem;
  line-height: 95%;
}

.word-one {
  font-size: 3rem;
}

.ur-one,
.wordlogo-one {
  color: var(--white);
  padding-left: 2rem;
}

.ua {
  font-weight: 700;
}
.en {
  font-weight: 500;
}

.to-middle {
  padding-top: 3rem;
}

div > .contacts {
  color: var(--white);
  font-weight: 600;
  font-size: 2rem;
}

/* MEDIA QUERIRES */
@media (max-width: 1440px) {
  a {
    font-size: 1.5rem;
  }
  .lil-bloo,
  .lil-yella {
    width: 2rem;
    height: 2rem;
  }
  .ur {
    font-size: 5rem;
  }
  .word {
    font-size: 2rem;
  }
  .yellow,
  .blue {
    width: 150px;
    height: 150px;
  }
  label {
    font-size: 1.2rem;
  }
  input[type="text"],
  input[type="date"],
  input[type="number"],
  select {
    font-size: 1.2rem;
  }
  button[type="button"],
  button {
    font-size: 1.5rem;
  }
  .heading,
  .ic,
  .slogan {
    font-size: 2.5rem;
  }
  .subheading {
    font-size: 1.75rem;
  }
  .row > p,
  .ict,
  .icplus,
  .int,
  .words,
  .five {
    font-size: 1.5rem;
  }
}
@media (max-width: 1068px) {
  .ur-one {
    font-size: 5rem;
  }
  div > .contacts {
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .flex {
    margin: 0.5rem;
  }
  .yellow,
  .blue {
    width: 125px;
    height: 125px;
  }
}
@media (max-width: 924px) {
  .menu-btn {
    display: block;
    width: 100px;
    margin: 0 auto;
  }
  .desktop-menu {
    display: none;
  }
  .lil-bloo,
  .lil-yella {
    width: 1.5rem;
    height: 1.5rem;
  }
  .ur {
    font-size: 3rem;
  }
  .word {
    font-size: 1.5rem;
  }
  .yellow,
  .blue {
    width: 100px;
    height: 100px;
  }
  .row > p,
  .ict,
  .icplus,
  .int,
  .words,
  .five {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .heading,
  .ic,
  .slogan {
    font-size: 2rem;
  }
  .subheading {
    font-size: 1.5rem;
  }
  .row > p {
    padding: 1rem;
  }
  .flex-logos > .ict,
  .flex-logos > .icplus,
  .flex-logos > .int {
    margin: 1rem;
  }
}
@media (max-width: 680px) {
  .first-part {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .table {
    overflow: auto;
  }
  .yellow,
  .blue {
    width: 100px;
    height: 100px;
  }
  .flex-logos {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .words {
    margin-left: 0;
  }
  label {
    font-size: 1rem;
  }
  input[type="text"],
  input[type="date"],
  input[type="number"],
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    font-size: 1rem;
  }
  button[type="button"],
  button {
    font-size: 1.2rem;
  }
  .heading,
  .ic,
  .slogan {
    font-size: 1.75rem;
  }
  .subheading {
    font-size: 1.25rem;
  }
  .row > p,
  .ict,
  .icplus,
  .int,
  .words,
  .five {
    font-size: 1rem;
  }
  .row > p {
    padding: 0.5rem;
  }
  button > i.fab {
      display: none;
  }
  footer .foot {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .first, .second, .third {
      background-image: none;
  }
  .first, .second {
      background-color: var(--yellow);
  }
  .third {
      background-color: var(--blue);
  }
}
